name: Publish node.js Package

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install deps
        run: yarn

      - name: Build
        run: yarn build

      - name: Copy package.json for OpenTiny
        run: cp ./publish/package.json ./js/tinymce

      - name: Bump version in package.json
        run: npm version "$(git tag --sort=committerdate | tail -1)" --no-git-tag-version
        working-directory: js/tinymce

      - name: Verify npm auth
        run: npm whoami
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Check npm ownership
        run: npm owner ls opentiny
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish package
        run: yarn publish
        working-directory: js/tinymce
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
